@font-face {
    font-family: 'AvenirLTS';
    src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}

.title {
    width: 15rem;
    height: 5rem;;
    margin: 2rem;
    display: block;
    text-decoration: none !important;
}

.title > img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.2rem;
}

.title > .h1 {
    font-family: AvenirLTS;
    color: #E62F05;
    display:inline-block;
}


.product {
    display: inline-block;
    width: 10rem;
}

.product > .card > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    margin: 0 auto;
}

#productInfo-card-body {
    height: 100%;
}

@media only screen and (max-width: 700px) {
    #productInfo-card-body {
        height: auto;
    }
}