/*region Product Info*/

.product-info-card-body {
    height: 100%;
}

.product-info-iframe {
    background: url('../img/Spinner.gif') center no-repeat;
    width: 100%;
    height: 60vh;
}

.homepage-links-wrapper {
    width: 150px;
    text-align: center;
}

.product-info-img {
    border-radius: 25px !important;
}

@media only screen and (max-width: 700px) {
    #productInfo-card-body {
        height: auto;
    }
}

/*endregion*/