<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>AliBestOf — {% block title %} {% endblock %}</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="author" content="Piotr Bartoszewski">
    <meta name="viewport" content="width=device-width"/>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link href="{% static "img/icons/icon.png" %}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <meta name="verify-admitad" content="440f80068c"/>
    <script>
        window.ao_subid = "";
    </script>
    <script src="//js.mamydirect.com/js/?h=kJlyQUb9" type="text/javascript" async></script>

    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</head>

<body>
{% block content %}

{% endblock %}
</body>

</html>