<ul class="navbar-nav mr-auto">
    {% for category in categories %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.name }}
            </a>
            <div class="dropdown-menu animation slideDownIn bg-secondary" aria-labelledby="navbarDropdownMenuLink">
                {% for subcategory in subcategories %}
                    {% if subcategory.parent_category == category %}
                        <a class="dropdown-item text-light bg-secondary"
                           href="{{ category_url }}{{ request_text }}">{{ subcategory.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>