<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>AliBestOf — {% block title %} {% endblock %}</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="author" content="Piotr Bartoszewski">
    <meta name="viewport" content="width=device-width"/>

    {% load static %}
    <link rel="stylesheet" href="{% static "base/css/base_style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% block add_css %} {% endblock %}" type="text/css">
    <link href="{% static "base/img/icons/icon.png" %}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>

    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5 sticky-top">
    <div class="pt-2">
        <a href="/" class="title">
            <img src="{% static "base/img/icons/icon.png" %}"/>
            <p class="h2 main">liBestOf</p>
        </a>
        <a href="{% block add_href %}{% endblock %}" class="title">
            <p class="h5 mr-3">{% block add_href_text %}{% endblock %}</p>
        </a>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        {% block navbar-items %}{% endblock %}
    </div>
</nav>

{% block content %}

{% endblock %}
<footer class="card text-center">
    <div class="card-body">
        <h5 class="card-title footer-text">&copy AliBestOf {% now "Y" %} | All Rights
            Reserved! | Find us on:</h5>
        <div class="ml-2" style="display: inline-block !important;">
            {% for social_link in social_links %}
                <a href="{{ social_link.link }}"><img src="{{ social_link.image.url }}" class="social-button ml-1 mr-1"
                                                      alt="{{ social_link.name }}"></a>
            {% endfor %}
        </div>
    </div>
</footer>
</body>
</html>