{% extends 'base/base.html' %}

{% load static %}
{% block add_css %}
    {% static 'products/css/product_detail_style.css' %}
{% endblock %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block additional_head %}
    {% if not is_homepage %}
        {{ configuration.add_head_code_det_excl_hpu|safe }}
    {% endif %}
{% endblock %}

{% load products_tags %}
{% block add_href_text %}{% show_profile_info username=product.user.username is_homepage=is_homepage %}{% endblock %}
{% block add_href %}
    {% url 'products:products_list' product.user.username %}
{% endblock %}

{% block navbar-items %}
    {% if request.user == product.user or request.user.is_superuser %}
        <a href="{% url 'admin:products_product_change' product.pk %}" class="btn btn-info btn-lg active ml-auto"
           role="button">Edit product</a>
    {% endif %}
{% endblock %}

{% block content %}
    <main class="card text-center m-2">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex justify-content-center align-items-center p-2">
                <img src="{{ product.image.url }}" class="card-img w-50 img-thumbnail product-info-img"
                     alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <div class="card card-body justify-content-center product-info-card-body">
                    {% if product.category %}
                        <a href="{% url 'products:products_list' product.user.username product.category.pk %}"
                           class="mb-3">{{ product.user.username }}'s
                            profile / {{ product.category.parent_category.name }} / {{ product.category.name }}</a>
                    {% endif %}
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|linebreaks }}</p>
                    {% if auth %}
                        {% if not is_homepage %}
                            <a href="{{ product.product_link }}">{{ product.product_link }}</a>
                        {% endif %}
                        <div class="d-flex justify-content-center">
                            <div class="homepage-links-wrapper">
                                {% if is_homepage %}
                                    <a class="btn btn-outline-info btn-block" href="{{ product.product_link }}"
                                       role="button">Link</a>
                                {% endif %}
                                {% if how_to_buy %}
                                    <a class="btn btn-outline-dark mt-3 btn-block" href="{{ how_to_buy }}"
                                       target="_blank"
                                       role="button">How to buy</a>
                                {% endif %}
                                <a class="btn btn-outline-info mt-3 btn-block" href="{{ product.photos_link }}"
                                   target="_blank"
                                   role="button">Photos Link <br> (Preview Below)</a>
                            </div>
                        </div>
                    {% else %}
                        {% if auth_error %}
                            <div class="row">
                                <div class="alert alert-danger alert-dismissible fade show col-md-4 col-md-offset-4 mx-auto"
                                     role="alert">
                                    {{ auth_error }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        <form class="form-inline d-flex justify-content-center" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary ml-1 mb-2">Verify</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <iframe class="product-info-iframe" src="{{ product.photos_link }}"></iframe>
{% endblock %}