{% extends 'base/base.html' %}

{% load static %}
{% block add_css %}
    {% static 'products/css/product_detail_style.css' %}
{% endblock %}

{% block title %}
    Product ID {{ product.id }}
{% endblock %}

{% load products_tags %}
{% block add_href_text %}{% show_profile_info product.user.username %}{% endblock %}
{% block add_href %}
    {% url 'products:products_list' product.user.username %}
{% endblock %}

{% block navbar-items %}
    {% if request.user == product.user or request.user.is_superuser %}
        <a href="{% url 'admin:products_product_change' product.pk %}" class="btn btn-info btn-lg active ml-auto"
           role="button">Edit product</a>
    {% endif %}
{% endblock %}

{% block content %}
    <main class="card text-center m-2">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="card-img w-50 img-thumbnail product-info-img"
                     alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <div class="card card-body justify-content-center product-info-card-body">
                    <a href="{% url 'products:products_list' product.user.username product.category.pk %}" class="mb-3">{{ product.user.username }}'s
                        profile / {{ product.category.parent_category.name }} / {{ product.category.name }}</a>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|linebreaks }}</p>
                    {% if product.user.is_superuser %}
                        <div>
                            <a class="btn btn-outline-info" href="{{ product.product_link }}"
                               role="button">Link</a>
                        </div>
                    {% else %}
                        <a href="{{ product.product_link }}">{{ product.product_link }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <iframe class="product-info-iframe" src="{{ product.photos_link }}"></iframe>
{% endblock %}