{% extends 'base/base.html' %}

{% load static %}
{% block add_css %}
    {% static 'products/css/product_detail_style.css' %}
{% endblock %}

{% block title %}
    Product ID {{ product.id }}
{% endblock %}

{% block add_href_text %} - {{ product.user.username }}'s profile{% endblock %}
{% block add_href %}
    {% url 'products:products_list' product.user.username %}
{% endblock %}

{% block content %}
    <article class="text-center">
        {% if request.user == product.user or request.user.is_superuser %}
            <a href="{% url 'admin:products_product_change' product.pk %}" class="btn btn-info btn-lg btn-block mb-2"
               role="button">Edit product</a>
        {% endif %}
        <div>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="card-img w-50 img-thumbnail product-info-img"
                             alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card card-body justify-content-center product-info-card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            {% if product.user.is_superuser %}
                                <div>
                                    <a class="btn btn-outline-primary" href="{{ product.product_link }}" role="button">Link</a>
                                </div>
                            {% else %}
                                <a href="{{ product.product_link }}">{{ product.product_link }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="product-info-iframe" src="{{ product.photos_link }}"></iframe>

    </article>
{% endblock %}